<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SYS_AutoUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CFW_AutoUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SYS_AutoUpdater.Properties.Settings>
            <setting name="BaseAtmosphereVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="BaseHekateVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="HekateVers" serializeAs="String">
                <value>Hekate Version:</value>
            </setting>
            <setting name="AtmosVers" serializeAs="String">
                <value>Atmosphere Version:</value>
            </setting>
            <setting name="ldnVers" serializeAs="String">
                <value>ldn_mitm Version:</value>
            </setting>
            <setting name="SysBotBaseVers" serializeAs="String">
                <value>Sys-BotBase Version:</value>
            </setting>
            <setting name="AMSSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HekateSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ldnSelected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SbbSelected" serializeAs="String">
                <value>False</value>
            </setting>
        </SYS_AutoUpdater.Properties.Settings>
        <CFW_AutoUpdater.Properties.Settings>
            <setting name="BaseAtmosphereVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
            <setting name="BaseHekateVersion" serializeAs="String">
                <value>0.0.0</value>
            </setting>
        </CFW_AutoUpdater.Properties.Settings>
    </userSettings>
</configuration>